.App{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
}

.btns{
  display: flex;
  margin-bottom: 36px;
}

.portfolio-project-btn{
  font-weight: 500;
  background: navy;
  color: whitesmoke;
  padding: 12px 24px;
  border-radius: 20px;
  border: none;
  margin-right: 48px;
}

.portfolio-project-btn:hover {
  background: whitesmoke;
  border: 1px solid navy;
  color: navy;
  cursor: pointer;
  font-weight: bold;
}

.movie-project-btn{
  font-weight: 500;
  background: greenyellow;
  color: black;
  padding: 12px 24px;
  border-radius: 20px;
  border: none;
}

.movie-project-btn:hover{
  background: black;
  color: greenyellow;
  font-weight: bold;
  border: 1px solid greenyellow;
  cursor: pointer;
}