.card{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 500px;
    height: auto;
    border-radius: 24px;
    border: 1px solid violet;
    padding: 24px;
    box-shadow: 2px 2px 5px rgb(122, 164, 255);
}

.card:hover{
    transform: translate(8px);
    transition: transform 0.3s ease-in-out;
}

.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.title{
    width: 80%;
    text-align: left;
    margin-left: 32px;
}

.profile-pic{
    max-width: 132px;
    width: 100%;
    height: 132px;
    border-radius: 50%;
    object-fit: cover;
}

.name{
    font-size: 2rem;
    font-weight: bold;
    color: #333;
}

.card.dark .name{
    color: white;
}

.role{
    font-size: 1.1rem;
    font-weight: 500;
    color: #757575;
}

.card.dark .role{
    color: whitesmoke;
}

.card.dark .skills-heading{
    color: white;
}

.skills-section{
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}

.skill{
    padding: 6px 16px;
    font-size: 0.9rem;
    border-radius: 16px;
    color: #333;
    border: 1px solid rgb(147,219, 255);
}

.card.dark .skill{
    color: white;
    border: 1px solid white;
}

.skill:hover{
    transform: translate(4px);
    cursor: pointer;
    transition: transform 0.3s ease; 
    color: whitesmoke;
    background: navy;
    border: none;
}

.bottom-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 24px;
}

.arrow-btns{
    display: flex;
    gap: 20px;
    align-items: center;
}

.arrow-btns button{
    border: 1px solid blueviolet;
    background: white;
    color: blueviolet;
    border-radius: 50%;
    height: 32px;
    width: 32px;
}

.arrow-btns p{
    color: blueviolet;
}

.contact-btn{
    background: blueviolet; 
    color: white;
    margin-left: 20px;
}

.contact-btn:hover{
    cursor: pointer;
    color: blueviolet;
    background: white;
    border: 1px solid blueviolet;
}

.card.dark .contact-btn:hover{
    border:none;
}

.theme-btn,
.contact-btn{
    padding: 6px 16px;
    border: none;
    border-radius: 12px;
    font-size: 0.9rem;
    font-weight: 600;
}

.like-btn{
    font-size: 0.3rem;
}

.liked {
    color: red;
    background: lightgray;
}

.bio{
    font-size: 1rem;
    color: #757575;
    line-height: 1.5rem;
    font-weight: 200;
}

.card.dark .bio{
    color: bisque;
}

